.card{
    background-color: #DBE4EE !important;
    width:100%;
    padding:50px
}

tr th{
    background-color: #DBE4EE !important;
    color:#f5821f
}

tr td{
    background-color: #DBE4EE !important;
    color:#f5821f

}


@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

*{
    margin: 0; padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #156064;
}
h2{
    position: relative;
    font-size: 14vw;
    color: #156064;
    -webkit-text-stroke: .3vw #156064;
    text-transform: uppercase;
}
h2::before{
    content: attr(data-text);
    position: absolute;
    top: 0; left: 0;
    width: 0; height: 100%;
    color:#f5821f;
    -webkit-text-stroke: 0vw #156064;
    border-right: 2px solid #f5821f;
    overflow: hidden;
    animation: animate 6s linear infinite;
} 
@keyframes animate {
    0%,10%,100%{ width: 0; }
    70%,90%{ width: 100%; }
}



button{
    background-color: #f5821f !important;
    color:#DBE4EE
}


h2{
    font-family:apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12pt;
    font-size: 3em; 
    font-style:normal;
    font-weight: normal;
}

.summary{
    background-color: #DBE4EE !important;
    color:#f5821f
}

.m-4{
    background-color: #DBE4EE !important;
    color:#f5821f
}

::ng-deep .p-paginator {
        background: #DBE4EE  !important;

}

::ng-deep .p-datatable .p-datatable-footer{
    background: #DBE4EE  !important;
    color: #f5821f;
}

::ng-deep .p-toolbar{
    background: #DBE4EE !important;
    color: #f5821f;
    border-color: #DBE4EE;
}

::ng-deep .p-paginator .p-paginator-current{
    color: #f5821f;
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight{
    color:#f5821f!important;
    background: #DBE4EE;
}

::ng-deep .p-paginator .p-paginator-next{
    color: #f5821f;
}
::ng-deep .p-paginator .p-paginator-prev{
    color: #f5821f;
}
::ng-deep .p-paginator .p-paginator-first{
    color: #f5821f;
}
::ng-deep .p-paginator .p-paginator-last{
    color: #f5821f;
}
::ng-deep .p-paginator .p-paginator-pages .p-paginator-page{
    color: #f5821f;
}

::ng-deep .p-dropdown{
    color: #f5821f !important;
    background: #DBE4EE;
}

::ng-deep .p-dropdown .p-dropdown-label{
    color: #f5821f !important;
}

::ng-deep .p-dropdown .p-dropdown-trigger-icon{
    color: #f5821f !important;
}